<div class="wrapper">
  <div class="pc-content pc-content--left">
    left
  </div>
  <div class="pc-content pc-content--right">
    right
    <img src="<%- rootURL %>/assets/img/pc-nav/thumb_1.png" alt="">
  </div>
  <div class="scroll-content">
    <img src="<%= rootURL %>/img/" alt="">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo reprehenderit voluptates optio nobis maxime iusto corporis nesciunt saepe, facere tempore fugiat. Cumque alias excepturi officiis repellendus ut, aut culpa harum.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo reprehenderit voluptates optio nobis maxime iusto corporis nesciunt saepe, facere tempore fugiat. Cumque alias excepturi officiis repellendus ut, aut culpa harum.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo reprehenderit voluptates optio nobis maxime iusto corporis nesciunt saepe, facere tempore fugiat. Cumque alias excepturi officiis repellendus ut, aut culpa harum.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo reprehenderit voluptates optio nobis maxime iusto corporis nesciunt saepe, facere tempore fugiat. Cumque alias excepturi officiis repellendus ut, aut culpa harum.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo reprehenderit voluptates optio nobis maxime iusto corporis nesciunt saepe, facere tempore fugiat. Cumque alias excepturi officiis repellendus ut, aut culpa harum.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo reprehenderit voluptates optio nobis maxime iusto corporis nesciunt saepe, facere tempore fugiat. Cumque alias excepturi officiis repellendus ut, aut culpa harum.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo reprehenderit voluptates optio nobis maxime iusto corporis nesciunt saepe, facere tempore fugiat. Cumque alias excepturi officiis repellendus ut, aut culpa harum.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo reprehenderit voluptates optio nobis maxime iusto corporis nesciunt saepe, facere tempore fugiat. Cumque alias excepturi officiis repellendus ut, aut culpa harum.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo reprehenderit voluptates optio nobis maxime iusto corporis nesciunt saepe, facere tempore fugiat. Cumque alias excepturi officiis repellendus ut, aut culpa harum.</p>
  </div>
</div>

<script src="<%= rootURL %>assets/js/index.js"></script>