<%- include('./_modules/_header.ejs') %>

<div class="wrapper">
  <menu class="menu">
    <ul>
      <li><a href="/">github</a></li>
      <li><a href="/">zenn</a></li>
      <li><a href="/">shareX</a></li>
    </ul>
  </menu>

  <div class="mv">
    <h1 class="mv__ttl">k.miyazaki<br>Portfolio</h1>
    <canvas id="mv-gallery"></canvas>
  </div>

</div>

<script src="./assets/js/index.js"></script>

<%- include('./_modules/_footer.ejs') %>