<%- include('./_modules/_header.ejs') %>


  <div class="main">
    <h1 class="title">k.miyazaki<br>Portfolio</h1>
     <!-- <ul>
    <li><a href="/">github</a></li>
    <li><a href="/">zenn</a></li>
    <li><a href="/">shareX</a></li>
  </ul> -->
  </div>

  <!-- <menu class="menu">
    <ul>
      <li><button class="button">TOP</button></li>
      <li><button class="button">WORKS</button></li>
      <li><button class="button">SKILL</button></li>
      <li><button class="button">CONTACT</button></li>
    </ul>
  </menu> -->

  <canvas id="bg-canvas"></canvas>

<script src="./assets/js/index.js"></script>

<%- include('./_modules/_footer.ejs') %>