@use './_mixin' as m;
@use './variables' as v;

body {
  @include m.fz_vw(v.$basicFontSize);
  color: #fff;
  background-color: #333;
  @include m.font_fjalla;
  letter-spacing: 0.10em;

  @include m.pc {
    @include m.fz_vw(16);
  }
}