@use './_reset';
@use './_base';

@use './mixin' as m;

body {
  background-color: #333;
  overflow: hidden;
  @include m.font_fjalla;
}

#bg-canvas {
  position: fixed;
  top: 0;
  left: 0;
}

.wrapper {
  height: 100vh;
}

.main {
  z-index: 999;
  position: fixed;
  top: 40%;
  left: 4%;
}
.title {
  @include m.fz_vw(30);
  color: #fff;
  margin-bottom: 10%;
}
.button {
  @include m.fz_vw(14);
  color: #fff;
}

.menu {
  z-index: 999;
  position: fixed;
  top: 4vw;
  left: 2vw;
  width: 100%;
  > ul {
    display: flex;
    justify-content: flex-start;
    > li {
      line-height: 1;
      &:not(:last-child) {
        margin-right: 5vw;
      }
    }
  }
}