@use './_reset';
@use './_base';

@use './mixin' as m;

body {
  background-color: #333;
  @include m.font_fjalla;
  letter-spacing: 0.08em;
}

#bg-canvas {
  z-index: 9;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
}

.main {
  z-index: 999;
  position: fixed;
  top: 2%;
  left: 4%;
}
.title {
  @include m.fz_vw(30);
  color: #fff;
  margin-bottom: 10%;
}
.button {
  @include m.fz_vw(14);
  color: #fff;
}

.menu {
  z-index: 999;
  position: fixed;
  top: 4vw;
  left: 2vw;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  &__ttl {
    @include m.fz_vw(30);
    text-align: center;
  }
}
