@use './_reset';
@use './_base';

@use './mixin' as m;

#bg-canvas {
  z-index: 9;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
}

.main {
  z-index: 999;
  position: fixed;
  top: 2%;
  left: 4%;
  width: 100%;
  height: 100%;
}

.ttl {
  z-index: 999;
  @include m.fz_vw(24);
  color: #fff;
}

.section {
  z-index: 999;
  position: absolute;
  top: 20%;
  left: 0%;

  opacity: 0;
  pointer-events: none;

  &.is-active {
    opacity: 1;
    pointer-events: auto;
  }

  &--works {
  }
}

.section-ttl {
  @include m.fz_vw(20);
  margin-bottom: 5%;
}
.list {
  > li {
    > a {
      display: inline-block;
    }
    &:not(:last-child) {
      margin-bottom: 2%;
    }
  }
}
